/*botones exportacion*/

.export {
    width: 150px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.pdf-color {
    background: rgb(233, 116, 116);
}

/*usuarios*/

.btn-eliminar {
    all: unset;
}

.color-gris {
    color: rgb(187, 197, 207);
}

/*notas*/

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 30px;
}

.border-top {
    border-top: 1px solid #7e7c7c !important;
}

.nota-color {
    background: #FAF8BF;
    opacity: 0.9;
}

.nota-color2 {
    background: rgb(247, 227, 245);
    opacity: 0.9;
}

.nota-color3 {
    background: rgb(231, 247, 230);
    opacity: 0.9;
}

.red {
    color: red;
    float: right;
}

.red:hover {
    color: rgb(223, 159, 159);
    text-decoration: none;
}

.eliminar {
    overflow: hidden;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* calendario */

.header-col {
    background: #ecf3f7;
    color: #536170;
    text-align: center;
    font-size: 12px;
    width: 500px;
}

.header-calendar {
    color: grey;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    height: 60px;
    margin-bottom: 10px;
}

.box-day {
    border: 1px solid #e3eff5;
    max-width: 14.28%;
    max-height: 170px;
    min-height: 170px;
    min-width: 14.28%;
    overflow: auto;
}

.box-dayoff {
    border: 1px solid #e3eff5;
    max-width: 14.28%;
    max-height: 170px;
    min-height: 170px;
    min-width: 14.28%;
    background-color: #eeeeee;
}

.event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #FAF8BF;
    color: #009aaf;
    text-decoration: none;
}

.event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

.gris {
    color: grey;
    font-style: italic;
}

.form-control:focus {
    border-color: #bec2f5;
    -webkit-box-shadow:0px 10px 30px 0px #bababa5b ;
    -moz-box-shadow:0px 10px 30px 0px #bababa52 ;
    box-shadow:0px 10px 30px 0px #bababa4f ;
}

.error-input{
    color: red;
    font-style: italic;
    font-size: 13px;
    margin-top: 4px;
}

.btn-simple{
    background: rgb(227, 227, 252);
}

